$btn-primary: #44a1bf;
$btn-secondary: #ffffff;
$btn-tertiary: #f5f5f5;
$btn-danger: #d93934;
$btn-success: #2bb76d;
$btn-warning: #f5a64a;

$primary: $btn-primary;
$secondary: $btn-secondary;
$success: $btn-success;
$warning: $btn-warning;
$danger: $btn-danger;


$input-btn-font-family: 'CerebriSans';
$input-disabled-bg:#f5f5f5;
$input-color: #1f1f1f;
// $input-btn-padding-x: 1rem; 
// $input-btn-padding-y: .75rem;
$border-radius: .125rem;
$input-border-color: #b8b8b8;
$input-border-radius: $border-radius;
$input-focus-border-color: #1f1f1f;
$input-focus-box-shadow: none;
$input-placeholder-color: #bfbfbf;


$custom-control-indicator-size: 1.5rem;
$custom-control-indicator-border-color: #bfbfbf;
$custom-control-indicator-border-width: 2px;
$custom-control-indicator-disabled-bg: $input-disabled-bg;

$custom-control-indicator-checked-bg: $input-focus-border-color;
$custom-control-indicator-checked-disabled-bg: $input-disabled-bg;
$custom-control-indicator-checked-border-color: $input-focus-border-color;

$custom-control-indicator-active-color: $input-focus-border-color;
$custom-control-indicator-active-bg: $input-focus-border-color;
$custom-control-indicator-active-border-color: $input-focus-border-color;

$custom-checkbox-indicator-indeterminate-bg: $input-focus-border-color;
$custom-checkbox-indicator-indeterminate-color: $input-focus-border-color;
$font-family-base: 'cerebri-sans';


@import 'bootstrap/scss/bootstrap.scss';
@import 'bootstrap-vue/src/index.scss';

$font-size-base: 1rem;

$headings-color: #1f1f1f;

$h1-font-size: 3.75rem; // 60px
$h2-font-size: 2.625rem; // 42px
$h3-font-size: 1.625rem; // 26px
$h4-font-size: 1.125rem; // 18px
$h5-font-size: .75rem; //20px

$h1-font-weight: 400;
$h2-font-weight: 600;
$h3-font-weight: 600;
$h4-font-weight: 600;
$h5-font-weight: 600;

$h1-line-height: 4rem;
$h2-line-height: 3rem;
$h3-line-height: 2rem;
$h4-line-height: 1.5rem;
$h5-line-height: 1.25rem;


$paragraphs-color: #3d3d3d;

$p1-font-size: 1.25rem; // 20px
$p2-font-size: 1rem; // 16px
$p3-font-size: .875rem; // 14px
$p4-font-size: .75rem; // 12px

$p1-font-weight: 400;
$p2-font-weight: 400;
$p3-font-weight: 400;
$p4-font-weight: 400;

$p1-line-height: 1.75rem;
$p2-line-height: 1.5rem;
$p3-line-height: 1.25rem;
$p4-line-height: 1.25rem;

@font-face {
  font-family: 'cerebri-sans';
  src: url('/fonts/cerebri/OTF/CerebriSansPro-Regular.otf') format("opentype"),
    url('/fonts/cerebri/ttf/CerebriSansPro-Regular.ttf') format('truetype'),
    url('/fonts/__MACOSX/cerebri/OTF/._CerebriSansPro-Regular.otf') format("opentype"),
    url('/fonts/__MACOSX/cerebri/TTF/._CerebriSansPro-Regular.ttf') format('truetype');
}

body {
  font-family: 'cerebri-sans';
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  transition: background-color 5000s ease-in-out 0s;
}

button,
input,
optgroup,
select,
textarea {
  font-family: 'cerebri-sans' !important;
}

.container {
  @media screen and (max-width: 992px) {
    padding-right: 24px;
    padding-left: 24px;
  }
}

a {
  color: #3d3d3d !important;
}


h1 {
  font-size: $h1-font-size;
  font-weight: $h1-font-weight;
  line-height: $h1-line-height;
  color: $headings-color;
  // font-family: $headings-font-family;
  letter-spacing: -1.2px;
}

h2 {
  font-size: $h2-font-size;
  // font-family: $headings-font-family;
  font-weight: $h2-font-weight;
  line-height: $h2-line-height;
  color: $headings-color;
  letter-spacing: -.63px;

  @media screen and (max-width: 992px) {
    font-size: 26px;
  }
}

h3 {
  font-size: $h3-font-size;
  // font-family: $headings-font-family;
  font-weight: $h3-font-weight;
  line-height: $h3-line-height;
  color: $headings-color;
  letter-spacing: .26px;

  @media screen and (max-width: 992px) {
    font-size: 18px;
  }
}

h4 {
  font-size: $h4-font-size;
  // font-family: $headings-font-family;
  font-weight: $h4-font-weight;
  line-height: $h4-line-height;
  color: $headings-color;
}

h5 {
  font-size: $h5-font-size;
  // font-family: $headings-font-family;
  font-weight: $h5-font-weight;
  line-height: $h5-line-height;
  color: $headings-color;

  @media screen and (max-width: 992px) {
    font-size: 16px;
  }
}

.h5 {
  font-size: $h5-font-size;
  // font-family: $headings-font-family;
  font-weight: $h5-font-weight;
  line-height: $h5-line-height;
  color: $headings-color;

  @media screen and (max-width: 992px) {
    font-size: 16px;
  }
}

label {
  font-family: CerebriSans;
  font-size: 14px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.14;
  letter-spacing: normal;
  color: #3d3d3d;
}

.btn-lg {
  font-family: CerebriSans;
  font-size: 16px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.5;
  letter-spacing: normal;
  text-align: center;
  color: #ffffff;
  padding: 0.7rem 1rem;
}


.p1 {
  font-size: $p1-font-size;
  // font-family: $headings-font-family;
  font-weight: $p1-font-weight;
  line-height: $p1-line-height;
  color: $paragraphs-color;
}

.p2 {
  font-size: $p2-font-size;
  // font-family: $headings-font-family;
  font-weight: $p2-font-weight;
  line-height: $p2-line-height;
  color: $paragraphs-color;

  @media screen and (max-width: 992px) {
    font-size: 14px;
  }
}

.p3 {
  font-size: $p3-font-size;
  // font-family: $headings-font-family;
  font-weight: $p3-font-weight;
  line-height: $p3-line-height;
  color: $paragraphs-color;
}

.p4 {
  font-size: $p4-font-size;
  // font-family: $headings-font-family;
  font-weight: $p4-font-weight;
  line-height: $p4-line-height;
  color: $paragraphs-color;
}

::-webkit-input-placeholder {
  font-size: 16px;
  color: #bfbfbf;

}

:-moz-placeholder {
  /* Firefox 18- */
  font-size: 16px;
  color: #bfbfbf;

}

::-moz-placeholder {
  /* Firefox 19+ */
  font-size: 16px;
  color: #bfbfbf;

}

.bm-overlay {
  background: none !important;
}


.form-control:focus {
  border-width: 2px;
}

.form_fill {
  @extend .form-control:focus;
}

.form-control:invalid:focus,
.form-control.is-invalid:focus {
  box-shadow: none;
}

.custom-select:focus {
  color: white;
  background: $input-focus-border-color;
  box-shadow: none;
}

html,
body {
  height: 100% !important;
}

#main-wrapper {
  display: flex !important;
  flex-direction: column !important;
  height: 100vh;
}

.content {
  flex: 1 0 auto !important;
}

.footer {
  flex-shrink: 0 !important;
}

.box-shadow-low {
  box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.08);
  background-color: #ffffff;
}

.box-shadow-mid {
  box-shadow: 0 4px 12px 0 rgba(0, 0, 0, 0.12);
  background-color: #ffffff;
}

.box-shadow-high {
  box-shadow: 0 8px 24px 0 rgba(0, 0, 0, 0.08);
  background-color: #ffffff;
}
